# 这个 .gitignore 文件应该放在你的 Unity 项目目录的根目录下
# 从 https://github.com/github/gitignore/blob/main/Unity.gitignore 获取最新版

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCapture 的大小可能会过大。
# 它们还可能包含极其敏感的数据
/[Mm]emoryCaptures/

# Recordings 可能会变得过大
/[Rr]ecordings/

# 如果您想忽略 asset store 插件，请取消注释此行
/[Aa]ssets/AssetStoreTools*

# 自动生成的 Jetbrains Rider 插件
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio 缓存目录
.vs/

# Gradle 缓存目录
.gradle/

# 自动生成的 VS/MD/Consulo 解决方案和项目文件
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D 生成的元文件
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D 生成的崩溃报告文件
sysinfo.txt

# 构建
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics 生成的文件
crashlytics-build.properties

# 打包寻址
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 自动临时生成的 Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

/Games/